#cvv-info {
  --border-gray: rgb(150, 150, 150);
  padding: 1em;
}

#cvv-info article {
  width: 170px;
  height: 150px;
  overflow: hidden;
  padding: 0.5em;
  text-align: center;
  background-color: white;
  margin: 5px;
}

#cvv-info .env-title {
  font-weight: bold;
  font-size: 125%;
  padding-top: 0.5em;
  padding-left: 0.25em;
}

#cvv-info .path-title {
  font-weight: bold;
  font-size: 150%;
  padding-top: 0.5em;
}

#cvv-info .cvv-button-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 1em;
}

#cvv-info .env-name {
  font-size: large;
  overflow: hidden;
  font-style: italic;
  text-align: center;
}

#cvv-info .version {
  overflow: hidden;
  text-align: center;
}

#cvv-info .cvv-descrip {
  font-size: small;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

#cvv-info .pf-c-button.pf-m-primary {
  background-color: white;
}

#cvv-info .path-env-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#cvv-info .path-env {
  margin: 0.5em;
  width: 200px;
  min-height: 25vh;
  border: 1px solid var(--border-gray);
  padding-left: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.25em;
  border-radius: 0.5em;
}

#cvv-info .lifecycle-path {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1.5px solid var(--border-gray);
}

#cvv-info #NLE {
  border-top: 1.5px solid var(--border-gray);
}

#cvv-info h1 {
  font-weight: bold;
  font-size: 200%;
}

#cvv-info .cvv-button-container {
  display: flex;
  justify-content: center;
}
