#environments article {
  width: 170px;
  height: 150px;
  overflow: hidden;
  padding: 0.5em;
  text-align: center;
  background-color: white;
  margin: 5px;
}

.env-titles {
  font-weight: bold;
  font-size: large;
  padding-top: 0.5em;
}

.cvv-button-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 1em;
}

.env-name {
  font-size: large;
  overflow: hidden;
  font-style: italic;
  text-align: center;
}

.version {
  overflow: hidden;
  text-align: center;
}

.cvv-descrip {
  font-size: small;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

.pf-c-button.pf-m-primary {
  background-color: white;
}
