#environments article {
  width: 170px;
  height: 150px;
  text-align: center;
  background-color: white;
  margin: 5px;
}

.env-titles {
  font-weight: bold;
  font-size: large;
}

.cvv-button-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 1.5em;
}
