#login-page {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(2, 93, 140, 1) 35%,
    rgba(2, 0, 36, 1) 100%
  );
  height: 100vh;
}

header#login-header {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
}

header#login-header > h3 {
  color: white;
  text-align: center;
}

form.login-form h4#login-prompt {
  margin-top: 1em;
}

header#login-header > img.header-logo {
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  height: 15vh;
}

header#login-header > img.text {
  margin-top: 1em;
  height: 7.5vh;
}

.login-form {
  --input-width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 1em;
  padding-bottom: 1em;
}

form.login-form > span.pf-c-label {
  text-align: left;
  padding-left: calc((100% - var(--input-width)) / 2);
  padding-right: calc((100% - var(--input-width)) / 2);
  margin-bottom: 0.25em;
}

form.login-form > input.pf-c-form-control {
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: var(--input-width);
  padding: auto;
  margin: auto;
  background-color: white;
  margin-bottom: 1em;
  border-radius: 0.25em;
}

form.login-form > .remember_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

form.login-form .pf-c-check {
  margin-left: 0.25em;
}

form.login-form > button#submit {
  color: black;
  padding: 0.5em;
  margin: 0.5em;
  width: calc((100% - var(--input-width)) * 2);
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
}

form.login-form > div.error-invalid-login {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  --pf-c-alert--m-inline--BorderColor: lightgrey;
}

form.login-form > div.error-invalid-login > h4 {
  font-weight: bold;
}

form.login-form > div.error-invalid-login > div.pf-c-alert__action > button {
  padding-right: 0.5em;
}
