#login-page {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(2, 93, 140, 1) 35%,
    rgba(2, 0, 36, 1) 100%
  );
  height: 100vh;
}

header#login-header {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
}

header#login-header > h3 {
  color: white;
  text-align: center;
}

header#login-header > img.header-logo {
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.login-form {
  --input-width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  background-color: white;
  border-radius: 1em;
  padding-bottom: 1em;
}

form.login-form > span.pf-c-label {
  text-align: left;
  padding-left: calc((100% - var(--input-width)) / 2);
  padding-right: calc((100% - var(--input-width)) / 2);
  margin-bottom: 0.25em;
}

form.login-form > input.pf-c-form-control {
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: var(--input-width);
  padding: auto;
  margin: auto;
  background-color: white;
  margin-bottom: 1em;
  border-radius: 0.25em;
}

form.login-form > .remember_box {
  display: flex;
  flex-direction: row;
  margin: auto;
}

form.login-form .pf-c-check {
  margin-top: 8px;
}

form.login-form > button#submit {
  padding: 0.5em;
  margin: 0.5em;
  width: calc((100% - var(--input-width)) * 2);
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
}

#error-invalid-login {
  color: red;
  text-align: center;
  font-weight: bold;
}
