.cv-select {
  text-align: center;
}

.cv-select #card-button {
  background-color: white;
  width: 50%;
  margin: 20px;
}

.cv-select .searchbar {
  margin: 20px;
  width: 50%;
  background-color: white;

  border-width: 1px;
  border-color: black;

  padding: 10px;
}

.cv-select #card-container {
  width: auto;
  margin-right: 25%;
  margin-left: 25%;
  background-color: gainsboro
}

.cv-select #card-button:hover {
  background-color: rgba(165, 215, 231, 0.493);
}

.hidden-element {
  display: none !important;
}
