/*body {
  background-position: 0px, 0px;
  background-image: linear-gradient(
    to bottom,
    #ffffff 0px,
    #ffffff 93px,
    #025d8c 93px,
    white 100%
  );
}*/

.cv-select {
  text-align: center;
}

.cv-select #card-button {
  background-color: #025d8c;
  width: 60%;
  word-wrap: break-word;
  margin: 20px;
  border-radius: 10px;
}

.cv-select .card-header {
  color: white;
  width: auto;
  word-wrap: break-word;
}

.cv-select .card-body {
  color: white;
  width: auto;
}

.cv-select .description {
  margin-left: 5%;
  text-align: left;
  max-width: 90%;
  line-height: 1em;
  max-height: 2em;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.cv-select .card-body:after {
  content: "";
  display: table;
  clear: both;
}

.cv-select .column {
  text-align: center;
  float: left;
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
  max-height: 4em;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.cv-select .card-footer {
  color: white;
  width: auto;
  word-wrap: break-word;
  padding-bottom: 10px;
}

.cv-select .searchbar {
  margin: 20px;
  width: 50%;
  background-color: white;

  border-width: 1px;
  border-color: black;

  padding: 10px;
}

.cv-select #card-container {
  width: auto;
  margin-right: 25%;
  margin-left: 25%;
  background-color: gainsboro;
}

.cv-select .card-button:hover {
  background-color: rgba(165, 215, 231, 0.493);
  background-color: lightslategray;
  /*background-color: rgb(200, 200, 0);*/
}

.hidden-element {
  display: none !important;
}
