:root {
  --header-height: 10vh;
}

header.page-header {
  height: var(--header-height);
  display: flex;
  background-color: var(--foreman-blue);
}

header > .header-logo {
  height: calc(var(--header-height) * 0.8);
  margin: calc(var(--header-height) * 0.1);
}

header > .text {
  height: calc(var(--header-height) * 0.5);
  margin: calc(var(--header-height) * 0.25);
  margin-left: 0;
}
