:root {
  --header-height: 10vh;
}

header {
  color: white;
  display: flex;
  align-items: center;
}

header > div#header-menu {
  --pf-c-dropdown__toggle--BorderWidth: 0px;
  display: flex;
  margin-left: auto;
  margin-right: 1em;
  font-size: 115%;
  height: 50%;
}

header > div#header-menu > button#header-menu-toggle {
  color: white;
  padding: 0.5em;
}

header > div#header-menu li {
  list-style-type: none;
}

header.page-header {
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: var(--foreman-blue);
}

header > .header-logo {
  height: calc(var(--header-height) * 0.8);
  margin: calc(var(--header-height) * 0.1);
}

header > .text {
  height: calc(var(--header-height) * 0.5);
  margin: calc(var(--header-height) * 0.25);
  margin-left: 0;
}
